{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="welcome">
    <center>
        <h1><img src="/static/logo.png" border="0"> Työllisyysviuhka</h1>
        <p>Työllistymistä edistäviä palveluja Turun alueella</p>
    </center>
</div>

<h2> Verkkosivustoamme kehitetään. Sivuston toiminnassa ja sisällössä esiintyy tämän vuoksi puutteita. Puutteet korjataan vaiheittain vuoden 2019 aikana.</h2>

<div id="root"></div> 
<script src="{% static "search.js" %}"></script> 

{% endblock %}
