<div class="panel panel-default">
    <div class="panel-body">
        <p>
            Employment Services API contains data from the <a href='https://tyollistymistaedistavatpalvelut.turku.fi'>Työllisyysviuhka</a>.
            <em>The API is in development phase.</em> To help improve the API, please don’t hesitate to
            <a href="mailto:avoindata@turku.fi">comment, give feedback or make suggestions</a>.
        </p>
    </div>
</div>

<h2 id="usage-instructions">Usage instructions</h2>
<p>Use the browsable version of the API at the bottom of this
page to explore the data in your browser.</p>
<h2 id="browsable-api">Browsable API</h2>