{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <h3>Kirjautuminen</h3>
<br>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
<table>
  <tr>
  <td>{{ form.username.label_tag }}</td>
  <td><input type="text" name="username" value="palveluntarjoaja" required id="id_username" maxlength="254" /></td>
  </tr>
  <tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password|attr:"autofocus" }}</td>
  </tr>
</table>
<br>
  <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit">Kirjaudu</button>
  </form>
{% endblock %}